<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Destructible</string>
		<string>TestAsteroids</string>
		<string>Shapes</string>
		<string>Ship</string>
		<string>Button</string>
		<string>Asteroid</string>
		<string>Splat</string>
		<string>Missile</string>
		<string>SaucerMissile</string>
		<string>Universe</string>
		<string>Fragment</string>
		<string>Explosion</string>
		<string>Saucer</string>
	</array>
	<key>Dependencies</key>
	<array>
		<string>Documents:CodeaUnit</string>
	</array>
</dict>
</plist>
